.allPizzas {
    overflow: auto;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.allPizzasContainer {
    overflow: auto;
    padding: 14px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}



.active_buttons {
    height: 20px;
    cursor: pointer;
}

.active_buttons:active {
    box-shadow: -4px 0px 21px 4px rgba(34, 60, 80, 0.2);
    transform: translateY(-5px);
}

.redirect_block {
    display: flex;
    justify-content: center;
   

}

.redirect_image {
    height: 100px;
}

.info_button {
    display: inline-block;
    float: right;
}
